.chatroom-container {
    width: 600px;
}

.members-count,
.members-list,
.messages {
    background: #ffffff;
    padding: 15px;
    margin-bottom: 15px;
}

.members-count {
    font-size: 18px;
    font-weight: 700;
}

.messages {
    flex-shrink: 1;
    overflow: auto;
    height: 310px;
    font-size: 20px;
}

.message {
    padding: 5px 0;
}
.message .member {
    display: inline-block;
}

.member {
    padding-right: 10px;
    position: relative;
    font-size: 14px;
}

.message-form {
    display: flex;
    flex-shrink: 0;
}
.message-form__input {
    flex-grow: 1;
    border: 1px solid #dfdfdf;
    padding: 10px 15px;
    font-size: 16px;
}
.message-form__button {
    margin: 10px;
    font-size: 16px;
}