@import url("https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap");
@font-face {
  font-family: "Neue Haas Grotesk Text Pro Roman";
  font-style: normal;
  font-weight: normal;
  src: local("Neue Haas Grotesk Text Pro Roman"), url("../vendor/fonts/NHaasGroteskTXPro-55Rg.woff") format("woff");
}
@font-face {
  font-family: "Neue Haas Grotesk Text Pro Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Neue Haas Grotesk Text Pro Italic"), url("../vendor/fonts/NHaasGroteskTXPro-56It.woff") format("woff");
}
@font-face {
  font-family: "Neue Haas Grotesk Text Pro Bold";
  font-style: normal;
  font-weight: normal;
  src: local("Neue Haas Grotesk Text Pro Bold"), url("../vendor/fonts/NHaasGroteskTXPro-75Bd.woff") format("woff");
}
@font-face {
  font-family: "Neue Haas Grotesk Text Pro Bold Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Neue Haas Grotesk Text Pro Bold Italic"), url("../vendor/fonts/NHaasGroteskTXPro-76BdIt.woff") format("woff");
}
html {
  min-height: 100%;
  overflow-x: hidden;
}

body {
  font-family: "Courier Prime", monospace;
  background: #ffe440;
  min-height: 100%;
}

p {
  font-size: 22px;
}

h1 {
  font-family: "Neue Haas Grotesk Text Pro Bold";
  color: black;
  -webkit-text-fill-color: transparent;
  /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
}

h2 {
  font-family: "Neue Haas Grotesk Text Pro Bold";
  color: black;
  -webkit-text-fill-color: transparent;
  /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.btn {
  font-family: "Neue Haas Grotesk Text Pro Bold";
  border-radius: 15px;
}

.world-container {
  -webkit-perspective: 2000px;
  perspective: 2000px;
  -webkit-perspective-origin: center;
  perspective-origin: center;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  opacity: 0.4;
  filter: blur(2px);
  transition: 0.4s;
}
.world-container.world-active {
  opacity: 1;
  filter: blur();
}

.cube-wrapper {
  width: 100%;
  height: 100%;
  transform: scale(0.5);
  transform-style: preserve-3d;
  transition: 0.5s;
  pointer-events: none;
}
.cube-wrapper.cube-zoomedin {
  transform: scale(0.9);
  pointer-events: all;
}

.festival-title {
  position: fixed;
  z-index: 100;
  bottom: 0px;
  left: 75px;
  transform: rotateZ(-90deg);
  transform-origin: left;
  transform-style: flat;
  right: 0;
}
.festival-title h1 {
  font-size: 70px;
  font-family: "Neue Haas Grotesk Text Pro Bold";
  color: black;
  -webkit-text-fill-color: transparent;
  /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
}

.festival-timetable {
  width: 400px;
  position: fixed;
  right: 150px;
  bottom: 150px;
  z-index: 2;
}
.festival-timetable h4 {
  font-size: 20px;
}
.festival-timetable .timetable-item {
  border-bottom: solid 1px;
  padding: 10px 20px;
}
.festival-timetable .timetable-item h2 {
  color: #36b29d;
  -webkit-text-fill-color: transparent;
  /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #36b29d;
}
.festival-timetable .timetable-item:nth-child(odd) h2 {
  color: #a54a96;
  -webkit-text-fill-color: transparent;
  /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #a54a96;
}
.festival-timetable .timetable-item:last-child {
  border-bottom: none;
}

#room-buttons {
  text-align: center;
  margin-bottom: 20px;
}
#room-buttons .button {
  padding: 10px 20px;
  color: #000000;
  font-weight: 700;
  letter-spacing: 0.4px;
  display: inline-block;
  cursor: pointer;
  border-radius: 50px;
}

.button-prev, .button-next {
  padding: 0 10px;
  cursor: pointer;
  font-size: 24px;
}

.enter-cube-container {
  position: absolute;
  width: 100%;
  text-align: center;
  z-index: 9;
  top: 50%;
  transition: 0.4s;
}
.enter-cube-container.enter-cube-top {
  top: 30px;
}

#menu {
  text-align: center;
}
#menu ul {
  padding-left: 0;
  list-style: none;
  display: inline-block;
}
#menu ul li {
  padding: 10px 20px;
  margin: 5px 0;
  font-family: "Neue Haas Grotesk Text Pro Bold";
  background: rgba(255, 237, 125, 0.5);
  border: solid 1px;
  display: inline-block;
  border-radius: 15px;
  cursor: pointer;
}

.main-navigation {
  position: fixed;
  bottom: 10px;
  left: 0px;
  width: 100%;
  padding: 20px;
  z-index: 99;
}

.festival-landing-introduction {
  position: absolute;
  width: 300px;
  color: #000000;
  left: 150px;
  top: 100px;
}
.festival-landing-introduction p {
  font-size: 16px;
}

#pages {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform-origin: 50% 50% -50vw;
  -o-transform-origin: 50% 50% -50vw;
  transform-origin: 50% 50% -50vw;
  height: 100%;
  width: 100%;
  margin: auto;
  position: relative;
}

#pages section {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
  overflow: hidden;
  font-size: 50px;
  margin: auto 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  overflow-y: auto;
}

#pages #main {
  background-color: #ffffff;
}

#pages #about {
  background-color: rgba(255, 69, 0, 0);
  -webkit-transform-origin: center;
  -o-transform-origin: center;
  transform-origin: center;
  -webkit-transform: translateZ(-100vw) rotateY(-180deg);
  transform: translateZ(-100vw) rotateY(-180deg);
}

#pages #work {
  -webkit-transform: translateX(50vw) translateZ(-50vw) rotateY(90deg);
  transform: translateX(50vw) translateZ(-50vw) rotateY(90deg);
  background-color: rgba(212, 255, 0, 0);
}

#pages #contact {
  -webkit-transform: translateX(-50vw) translateZ(-50vw) rotateY(-90deg);
  transform: translateX(-50vw) translateZ(-50vw) rotateY(-90deg);
  background-color: rgba(170, 179, 179, 0);
}

#main .main-content {
  width: 100%;
  padding: 50px;
  position: absolute;
  top: 0;
}

.project-item {
  background: #ffffff;
  padding: 30px;
  height: 500px;
  margin-bottom: 30px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  cursor: pointer;
}
.project-item:after {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  content: "";
  background: #000a52;
  opacity: 0.8;
  z-index: 1;
  transition: 0.4s;
}
.project-item h3 {
  z-index: 2;
  width: 100%;
  position: relative;
  margin-bottom: 30px;
  font-size: 50px;
  font-family: "Neue Haas Grotesk Text Pro Bold";
  color: white;
  -webkit-text-fill-color: transparent;
  /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
}
.project-item h4 {
  color: #ffffff;
  position: relative;
  z-index: 2;
}
.project-item p {
  font-size: 18px;
  color: white;
  z-index: 2;
  position: relative;
  line-height: 20px;
  display: block;
  width: 100%;
}
.project-item .project-item-bg-img {
  background-size: cover;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  filter: grayscale(1);
  transition: 0.4s;
}
.project-item:hover .project-item-bg-img {
  filter: grayscale(0);
}
.project-item:hover:after {
  opacity: 0;
}

.project-details {
  position: absolute;
  top: 0;
  width: 100%;
  left: 0;
  padding: 50px;
  height: 100%;
  background: #ffffff;
  z-index: 5;
  display: none;
}
.project-details .project-detail-item {
  display: none;
}

.chatroom-content {
  padding: 30px;
  margin: auto;
}

/*# sourceMappingURL=style.css.map */
