@import 'variables';

@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');


@font-face {
  font-family: 'Neue Haas Grotesk Text Pro Roman';
  font-style: normal;
  font-weight: normal;
  src: local('Neue Haas Grotesk Text Pro Roman'), url('../vendor/fonts/NHaasGroteskTXPro-55Rg.woff') format('woff');
}


@font-face {
  font-family: 'Neue Haas Grotesk Text Pro Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Neue Haas Grotesk Text Pro Italic'), url('../vendor/fonts/NHaasGroteskTXPro-56It.woff') format('woff');
}


@font-face {
  font-family: 'Neue Haas Grotesk Text Pro Bold';
  font-style: normal;
  font-weight: normal;
  src: local('Neue Haas Grotesk Text Pro Bold'), url('../vendor/fonts/NHaasGroteskTXPro-75Bd.woff') format('woff');
}


@font-face {
  font-family: 'Neue Haas Grotesk Text Pro Bold Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Neue Haas Grotesk Text Pro Bold Italic'), url('../vendor/fonts/NHaasGroteskTXPro-76BdIt.woff') format('woff');
}

html {
  min-height: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  //font-family: sans-serif;
  font-family: 'Courier Prime', monospace;
  background:#fff4b2;
  min-height: 100%;
 }
p {
  font-size: 22px;
}

 h1 {
   font-family: 'Neue Haas Grotesk Text Pro Bold';
   color: black;
   -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
   -webkit-text-stroke-width: 2px;
   -webkit-text-stroke-color: black;
 }

h2 {
  font-family: 'Neue Haas Grotesk Text Pro Bold';
  color: black;
  -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.btn {
  font-family: "Neue Haas Grotesk Text Pro Bold";
  border-radius: 30px;
  padding: 10px 30px;
}

.btn-primary {
  background-color: $alt-color;
  border-color: $alt-color;
}

strike {
  color: red;
}

// scrollbar custom
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $alt-color;
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.world-container {
  -webkit-perspective: 2000px;
  perspective: 2000px;
  -webkit-perspective-origin: center;
  perspective-origin: center;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  opacity:0.4;
  filter: blur(2px);
  transition: 0.4s;
  will-change: transform;


  &.world-active {
    opacity: 1;
    filter: blur();
  }

}

// cube wrapper
.cube-wrapper {
  width: 100%;
  height: 100%;
  transform: scale(0.5) rotateY(-25deg) translateX(-650px);
  -moz-transform: scale(0.5) rotateY(-25deg) translateX(-650px);
  will-change: transform;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
  -webkit-font-smoothing: subpixel-antialiased;


  transform-style: preserve-3d;
  transition: 0.5s;
  pointer-events: none;

  &.cube-zoomedin {
    transform: scale(0.9);
    -moz-transform: scale(0.9);
    pointer-events: all;

  }
}




.festival-title {
  position: fixed;
  z-index: 100;
  bottom: 0px;
  left: 85px;
  transform: rotateZ(-90deg);
  transform-origin: left;
  transform-style: flat;
  right: 0;


  h1 {
    font-size: 90px;
    font-family: 'Neue Haas Grotesk Text Pro Bold';
    color: black;
    -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;

  }
}

.festival-landing-introduction {
  position: absolute;
  //z-index: 99;
  width: 380px;
  color: #000000;
  right: 8%;
  top: 50%;
  transform: translateY(-50%);
  z-index: 9;
  p {
    font-size: 16px;
  }
}

.festival-timetable {
  display: none !important;
  width: 400px;
  position: fixed;
  right: 150px;
  bottom: 150px;
  z-index: 2;
  h4 {
    font-size: 20px;
  }

  .timetable-item {
    //margin-bottom: 10px;
    border-bottom: solid 1px;
    padding: 10px 20px;
    //background: #ffffff;
    h2 {
      color: #36b29d;
      -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: #36b29d;
    }
    &:nth-child(odd) {
      h2 {
        color: #a54a96;
        -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: #a54a96;
      }
      //background: red;
    }
    &:last-child {
      border-bottom: none;
    }
  }
}

#room-buttons {
  text-align: center;
  margin-bottom: 20px;
  .button {
    padding: 10px 20px;
    //background: $alt-color;
    color: #000000;
    font-weight: 700;
    letter-spacing: 0.4px;
    display: inline-block;
    cursor: pointer;
    border-radius: 50px;
  }
}

.button-prev, .button-next {
  padding: 0 10px;
  cursor: pointer;
  font-size: 24px;
  vertical-align: sub;
}

.enter-cube-container {
  position: absolute;
  width: 100%;
  text-align: center;
  z-index: 9;
  top: 50%;
  transition: 0.4s;

  &.enter-cube-top {
    top: 30px;
  }


}


#menu  {
  text-align: center;
  background: white;
  border-radius: 40px 40px 0 0;
  padding: 12px 20px 0;
  display: inline-block;
  box-shadow: rgba(0, 0, 0, 0.1) 0 -1px 10px;
  .navigation-button {
    background-color: transparent;
    border: none;
    outline: none !important;
    &:disabled {
      color: #000000;
    }
  }

  ul {
    padding-left: 0;
    list-style: none;
    display: inline-block;
    li {
      padding: 10px 20px;
      margin: 5px 0;
      font-family: 'Neue Haas Grotesk Text Pro Bold';
      background: transparent;
      //background: rgba(99, 203, 162, 0.77);
      color: #565656;
      //border: solid 2px #367a6c;
      display: inline-block;
      border-radius: 30px;
      font-size: 14px;
      cursor: pointer;
      text-transform: uppercase;
      transition: 0.3s;
      &:hover, &.active {
        background: rgba(99, 203, 162, 0.77);
        color: #ffffff;
        //background: rgba(85, 170, 129, 0.77);

      }
    }
  }
}



.main-navigation {
  position: fixed;
  bottom: -5px;
  left: 0px;
  width: 100%;
  //padding: 20px;
  z-index: 99;
  text-align: center;

}





#pages {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform-origin: 50% 50% -50vw;
  -o-transform-origin: 50% 50% -50vw;
  transform-origin: 50% 50% -50vw;
  height: 100%;
  width: 100%;
  margin: auto;
  position: relative;


}

#pages section {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
  -webkit-font-smoothing: subpixel-antialiased;

  overflow: hidden;
  font-size: 50px;
  margin: auto 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  overflow-y: scroll;
  transform: translateZ(1px);
  border: solid 3px #ffffff;

}

#pages #reimagineside {
  background-color: #ffffff;
  //z-index: 4;
  &:hover {
    z-index: 6;
  }
}

#pages #chatroomside {
  background-color: rgba(157, 222, 199, 0.82);
  border: solid 3px rgba(157, 222, 199, 0.82);
  -webkit-transform-origin: center;
  -o-transform-origin: center;
  transform-origin: center;
  -webkit-transform: translateZ(-100vw) rotateY(-180deg);
  transform: translateZ(-100vw) rotateY(-180deg);
  will-change: transform;
  &:hover {
    z-index: 6;
  }
}

#pages #recollectside {
  -webkit-transform: translateX(50vw) translateZ(-50vw) rotateY(90deg);
  transform: translateX(50vw) translateZ(-50vw) rotateY(90deg);
  background-color: rgba(255, 255, 255,1);
  will-change: transform;
  //z-index: 5;
  &:hover {
    z-index: 6;
  }
}

#pages #replayside {
  -webkit-transform: translateX(-50vw) translateZ(-50vw) rotateY(-90deg);
  transform: translateX(-50vw) translateZ(-50vw) rotateY(-90deg);
  background-color: rgba(255, 255, 255,1);
  will-change: transform;
  //z-index: 6;
  &:hover {
    z-index: 6;
  }
}


// content css

#reimagineside {
  .main-content {
    width: 100%;
    padding: 50px;
    position: absolute;
    top: 0;
  }
}
#replayside {
  .main-content {
    width: 100%;
    padding: 50px;
    position: absolute;
    top: 0;
  }
}
#recollectside {
  .main-content {
    width: 100%;
    padding: 50px;
    position: absolute;
    top: 0;
  }
}

.overview-title {
  margin-bottom: 30px;
  font-size: 3rem;
}

.project-item {
  background: #432373;
  padding: 30px;
  height: 500px;
  margin-bottom: 30px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  cursor: pointer;

  h3 {
    z-index: 2;
    width: 100%;
    position: relative;
    margin-bottom: 30px;
    font-size: 50px;
    font-family: $heading-font;
    color: white;
    -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
  }

  h4 {
    color: #ffffff;
    position: relative;
    z-index: 2;
  }

  p {
    font-size: 18px;
    color: white;
    z-index: 2;
    position: relative;
    line-height: 20px;
    display: block;
    width: 100%;
  }
  .project-item-bg-img {
    background-size: cover;
    background-position: 30%;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    filter: grayscale(1);
    opacity: 0.2;
    transition: 0.5s;
  }

  &:hover {
    .project-item-bg-img {
      filter: grayscale(0);
      opacity: 1;
    }
  }

  &:hover:after {
    opacity: 0;
  }

}


.project-detail-item {
  background: #ffffff;
  z-index: 5;
  position: absolute;
  top: 0;
  width: 100%;
  left: 0;
  padding: 90px;
  min-height: 98vh;
  height: auto;

  display: none;
  h2 {
    margin: 20px 0 30px;
    font-size: 2.6rem;
  }

  .project-back-btn {
    margin-bottom: 40px;
    background: transparent;
    color: $alt-color;
  }
}


.livestream-item {
  background-color: #2e5394;
}
.recollect-item {
  background-color: #d45ba8;
  height: 400px;

}

#countdown {
  font-size: 24px;
  position: absolute;
  right: 50px;
  bottom: 30px;
}

#exhibtion-alert {
  position: fixed;
  top: 0px;
  left: 200px;
  padding: 20px;
  background-color: #ffffff;
  width: auto;
  z-index: 99;
}

// custom chatroom css

.username_input {
  border-radius: 40px;
  font-size: 20px;
  padding: 10px 20px;
  border: none;
  outline: none;
}

.username_submit {
  border-radius: 40px;
  font-size: 18px;
  padding: 12px 40px;
  border: none;
  outline: none;
  background: $alt-color;
  color: white;
  font-family: $heading-font;
}

.chatroom-content {
  padding: 30px;
  margin: auto;
  h2 {
    font-size: 60px;
    color: white;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
  }
}

.members-count {
  margin-bottom: 0;
  background: transparent;
  padding-bottom: 0;
}
.message-form__input {
  border-radius: 40px;
  outline: none !important;
}

.members-list {
  padding: 10px 20px 20px 10px;
  height: auto;
  line-height: 30px;
  background: transparent;
  .member {
    display: inline-block;
    padding: 0 14px;
    background: whitesmoke;
    margin: 0 3px;
    border-radius: 20px;
  }

}

// exhibtions specific css
.insideout-heart {
  color: white;
  width: 400px;
  height: 340px;
  display: block;
  margin: auto;
  background-size: contain;
  background-repeat: no-repeat;
  line-height: 300px;
  &:hover {
    color: #ffffff;
  }
}


// extra additional css
iframe {
  max-width: 100%;
}